.essentials {
    margin-top: 20px;
    min-height: 732px;
    background-color: #FFFFEF;
    padding: 20px;
    &__wrapper {
        padding: 0 120px;
        min-height: 700px;
        background: url('../img/dishes_bg.jpg') center center/cover no-repeat;
    }
    &__suptitle {
        padding-top: 62px;
        text-align: center;
        letter-spacing: 1.8px;
        color: #56593D;
        font-size: 17px;
        text-transform: uppercase;
    }
    &__title {
        padding-top: 10px;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        color: #56593D;
    }
}