.header {
    align-items: center;
    margin: 0 auto;
    max-width: 1424px;
    height: 78px;
    display: flex;
    justify-content: space-between;
    &__nav {
        margin-top: 0;
        margin-bottom: 0;
        width: 33.33%;
        display: flex;
        justify-content: space-between;
        li {
            list-style-type: none;
            img {
                padding-left: 4px;
                padding-bottom: 10px;
            }
        }
        a {
            padding: 0 8px;
            color: #56593D;
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
    &__logo {
        transition: 0.3s all;
        width: 33.33%;
        display: block;
        width: 90px;
        height: 26px;
        img {
            width: 100%;
            height: 100%;
        }
        &:hover {
            width: 98px;
            height: 34px;
            cursor: pointer;
        }
    }
    &__tools {
        padding-right: 38px;
        width: 33.33%;
        display: flex;
        justify-content: flex-end;
        &_item {
            margin-left: 20px;
            width: 32px;
            height: 32px;
        }
    }
}