.table {
    margin-top: 24px;
    min-height: 1014px;
    background-color: #FFFFEF;
    &__wrapper {
        padding-top: 64px;
        min-height: 618px;
        display: flex;
        justify-content: space-evenly;
    }
    &__photo {
        width: 740px;
        height: 886px;
        display: flex;
        justify-content: center;
    }
    &__block {
        width: 520px;
        height: 390px;
        padding: 62px 86px 0 86px;
        &-title {
            text-align: center;
            font-size: 29px;
            color: #56593D;
        }
        hr {
            margin-top: 32px;
            width: 40px;
        }
        &-descr {
            margin-top: 34px;
            text-align: center;
            font-size: 20px;
            line-height: 36px;
            color: #56593D;
        }
    }
}